[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bufkill.vim"]
	path = bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim-ace"]
	path = vim-ace
	url = https://github.com/yosssi/vim-ace.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim-fabrique"]
	path = vim-fabrique
	url = https://github.com/fabriquer/vim-fabrique
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "ctrlp"]
	path = ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "avro-vim"]
	path = avro-vim
	url = https://github.com/dln/avro-vim
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-kernel-config"]
	path = vim-kernel-config
	url = https://github.com/mytoh/vim-kernel-config
[submodule "badwolf"]
	path = badwolf
	url = https://github.com/sjl/badwolf
[submodule "csapprox"]
	path = csapprox
	url = https://github.com/godlygeek/csapprox
[submodule "gruvbox"]
	path = gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "plantuml-syntax"]
	path = plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "werewolf.vim"]
	path = werewolf.vim
	url = https://github.com/jonstoler/werewolf.vim
[submodule "vim-cpp-enhanced-highlight"]
	path = vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "vim-sneak"]
	path = vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vim-fish"]
	path = vim-fish
	url = https://github.com/dag/vim-fish
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script
[submodule "marko-vim-syntax"]
	path = marko-vim-syntax
	url = https://github.com/Epitrochoid/marko-vim-syntax
[submodule "vim-ohm"]
	path = vim-ohm
	url = https://github.com/nfischer/vim-ohm
[submodule "vim-fontzoom"]
	path = vim-fontzoom
	url = https://github.com/thinca/vim-fontzoom
[submodule "leg.vim"]
	path = leg.vim
	url = https://github.com/Qix-/leg.vim
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim-cargo"]
	path = vim-cargo
	url = https://github.com/timonv/vim-cargo
[submodule "vim-antlr"]
	path = vim-antlr
	url = https://github.com/dylon/vim-antlr
[submodule "vim-kdump"]
	path = vim-kdump
	url = https://github.com/trombonehero/vim-kdump
[submodule "vim-remarkjs"]
	path = vim-remarkjs
	url = https://github.com/idbrii/vim-remarkjs
[submodule "llvm.vim"]
	path = llvm.vim
	url = https://github.com/Superbil/llvm.vim
[submodule "vala.vim"]
	path = vala.vim
	url = https://github.com/arrufat/vala.vim.git
[submodule "vim-latex"]
	path = vim-latex
	url = https://github.com/vim-latex/vim-latex
