[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bufkill.vim"]
	path = bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim-ace"]
	path = vim-ace
	url = https://github.com/yosssi/vim-ace.git
[submodule "vim-stylus"]
	path = vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim-fabrique"]
	path = vim-fabrique
	url = https://github.com/fabriquer/vim-fabrique
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json
[submodule "neocomplete.vim"]
	path = neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pony-vim-syntax"]
	path = pony-vim-syntax
	url = https://github.com/dleonard0/pony-vim-syntax
[submodule "ctrlp"]
	path = ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "avro-vim"]
	path = avro-vim
	url = https://github.com/dln/avro-vim
